.game-library {
    clear: both;
    --gap: 5px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-left: 50px;
}
@media screen and (max-width: 900px) {
.game-library{
    width: 50%;
    --num-cols: 2;
    --row-height: 200px;
    --gap: 90px;
}
}

@media screen and (max-width: 900px) {
.game-library {
    width: 105%;
    --num-cols: 2;
    --row-height: 200px;
    gap: 20px;
    margin: -40px;
 }
}